.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    margin: 3rem 0;
}

.carta {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}


.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: all 400ms ease;
  }
  
.front {
    text-align: center;
    background-color: white;
    transform: rotateY(180deg);
    border: 5px solid black; 
}

.back {
    background-color: black;
    background-image: url(../images/logo.png);
    backface-visibility: hidden;
    border: 5px solid white;
}

.legenda{
    color: black;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
    line-height: 25.5rem;
    padding: 1%;
    font-size: 1.2rem;
    font-weight: 700;
}
  
.revelar-carta {
    transform: rotateY(180deg);
}
  
.dis-carta {
    filter: saturate(0);
    opacity: 0.5;
}
  

@media screen and (max-width:1100px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    
    }
}

@media screen and (max-width:920px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    
    }
}

@media screen and (max-width:720px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    
    }
}

